@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

body {
  font-family: "Roboto Slab", sans-serif;
}

nav a.nav-link {
  font-weight: 350;
  letter-spacing: 0.5px;
  cursor: pointer;
}
nav ul li {
  text-transform: uppercase;
}

.nav-link {
  margin: 0 1.5rem;
  color: white !important;
}
.nav-link:hover {
  color: gray !important;
}

.header-wrapper {
  position: relative;
  background: url("../images/mountain.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 95vh;
}
.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-info h1 {
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  text-shadow: 1px 1px black;
}
.main-info p {
  color: white;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  text-shadow: 1px 1px black;
}
.title-section{
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: relative;
  text-shadow: 1px 1px black;
  background-color: lightblue;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.social-wrapper {
  align-items: center;
  flex-direction: column;
  width: 90%;
  max-width: 1000px;
  margin: 0.8rem auto;
}
.social-icons a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  margin: 1rem 1.5rem;
  display: inline-block;
}

.social-icons a:hover {
  transform: translateY(-2px);
  color: #49568f;
}

.social-icons {
  display: inline-block;
  margin: 0 auto;
}
.footer-bottom h4 {
  color: white;
  font-size: 1rem;
  margin: 1rem;
  letter-spacing: 2px;
}

.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
}

.skillSection {
    text-align: center;
}

.skillSection img {
    margin-bottom: 1rem;
    max-width: 5rem;
}
.list-group-item svg {
    margin-right:0.5rem;
}

